{% load static %}
<div class="bg-white border-gray-200 3xl:mx-custom-margin">
  <div class="container mx-auto flex justify-between items-center py-2">
    <div class="flex items-center">
      <a href="/marketplace" class="flex items-center pl-3">
        <img class="h-14" src="{% static 'logo.jpg' %}" alt="Logo" />
      </a>
    </div>

    <div class="hidden lg:flex w-full items-center py-2 pl-3 justify-between">
      <div class="flex-grow px-4 rounded">
        <div class="relative w-full">
          <div class="flex rounded bg-white border border-gray-300">
            <div class="absolute inset-y-0 left-0 pl-2 flex items-center">
              <img
                src="{% static 'search (2).png' %}"
                alt="search icon"
                class="w-4 h-4"
              />
            </div>
            <input
              class="border-0  w-full pl-8 pr-4 py-2 focus:ring-0 focus:outline-none"
              type="search"
              placeholder="Search..."
            />
            <button class="bg-white border-solid">
              <img
                src="{% static 'location.png' %}"
                alt="location icon"
                class="w-11 h-9 pl-2 mr-3"
              />
            </button>
            <button class="bg-bluish text-white px-4 py-2 rounded-md">
              <img
                src="{% static 'search (1).png' %}"
                alt="search"
                class="h-9"
              />
            </button>
          </div>
        </div>
      </div>

      <div class="cursor-pointer">
        <a
          href="/"
          class="font-semibold hidden sm:inline text-nowrap hover:text-bluish hover:underline"
        >
          Specs Central
        </a>
      </div>
    </div>

    <div class="flex lg:hidden">
      <div class="flex items-center gap-2 mr-3">
        <img src="{% static 'search (2).png' %}" alt="search" class="w-5 h-5" />
      </div>
      <div class="pr-3">
        <div class="flex items-center gap-2 cursor-pointer">
          <img src="{% static 'log-out.png' %}" alt="user" class="w-5 h-5" />
          <span class="hidden sm:inline">Sign In</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border-b"></div>
