{% load static %}
<div class="max-w-xs rounded overflow-hidden shadow-lg m-5 p-4">
  <div class="relative">
    <img class="w-full" src="{% static image %}" alt="{{ title }}" />
    {% if label %}
    <span
      class="absolute top-0 left-0 bg-blue-500 text-white text-xs font-semibold px-2 py-1 rounded-bl-md"
    >
      {{ label }}
    </span>
    {% endif %}
  </div>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ title }}</div>
    <p class="text-gray-700 text-base">{{ price }}</p>
  </div>
</div>
