{% load static %}
<div class="my-8 max-w-6xl mx-auto pt-20" style="width: 80%; margin: auto;">
    <h2 class="text-2xl font-semibold mb-4 text-center">Related Models</h2>

    <div class="flex justify-center flex-wrap gap-6">
        {% for model in related_models %}
    <div class="flex w-3/4 gap-4   ">
        <div class="w-full sm:w-1/2 lg:w-1/2 p-4 border border-gray-200 rounded-lg hover:shadow-lg">
            <img src="{% static model.image %}" alt="{{ model.name }}" class="w-full h-36 object-cover rounded">
            <p class="mt-2 text-center font-medium">{{ model.name }}</p>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/2 p-4 border border-gray-200 rounded-lg hover:shadow-lg">
            <img src="{% static model.image %}" alt="{{ model.name }}" class="w-full h-36 object-cover rounded">
            <p class="mt-2 text-center font-medium">{{ model.name }}</p>
        </div>
    </div>
        {% endfor %}
    </div>
</div>
